################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/Project1/out/debug
*.txt
/Project1/StudentManager/Debug/StudentManager.tlog
/Project1/StudentManager/Debug
/Project1/StudentManager/StudentManager.vcxproj.user
/Project1/StudentManager/StudentManager.vcxproj.filters
/Project1/StudentManager/StudentManager.vcxproj
/.vs/temp/v16/ipch/AutoPCH
/Project1/LinkedList/Debug
/Project1/LinkedList/Release
/Project1/LinkedList/person.h
/Project1/LinkedList/LinkedList.vcxproj.user
/Project1/LinkedList/LinkedList.vcxproj.filters
/Project1/LinkedList/LinkedList.vcxproj
/Project1/PracticeProject
/Project1/StackQueue/Debug
/Project1/StackQueue/Release
/Project1/StackQueue/StackQueue.vcxproj.user
/Project1/StackQueue/StackQueue.vcxproj.filters
/Project1/StackQueue/StackQueue.vcxproj
/Project1/StudentManger1/StudentManger1.vcxproj.user
/Project1/StudentManger1/StudentManger1.vcxproj.filters
/Project1/StudentManger1/StudentManger1.vcxproj
/Project1/Debug
/Project1/include
/Project1/.vs/Project1/v16
/Project1/Project2
/Project1/Project1
/Project1/lib
/Project1/Release
/Project1/Project4
/Project1/Project3
/lib
/include
